<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/"><i class='fa fa-home'></i>Home</a></li>
            <li><a href="/my_story">My Story</a></li>
            <li><a href="/cv">CV</a></li>
        </ul>
    </nav>
    <div class="container">
       {{ content }}
    </div><!-- /.container -->
    <footer>
        <ul>
            <li>
                <a href="https://github.com/HenrYxZ"><i class="fa fa-github"></i></a>
            </li>
        </ul>
    </footer>
</body>
</html>